[submodule "libs/emilib"]
	path = libs/emilib
	url = git@github.com:emilk/emilib.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/stb"]
	path = libs/stb
	url = git@github.com:nothings/stb.git
[submodule "libs/visit_struct"]
	path = libs/visit_struct
	url = git@github.com:cbeck88/visit_struct.git
